* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.main-div {
  display: flex;
  justify-content: space-between;
  padding: 0px 18px 11px 18px;

  align-items: center;
  margin: 10px 0;
  box-shadow: 10px 4px 4px lightgray;
}
.explore-section {
  display: flex;
  gap: 10px;
  list-style: none;
}
.search-div {
  display: flex;
  justify-content: space-between;

  gap: 16px;
  align-items: center;
  border: 2px solid rgb(193, 163, 98);
  border-radius: 25px;
  padding: 10px;
}
.search-div::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 40px;
  height: 2px;
  left: 37%;
  border-radius: 30%;
  background: linear-gradient(
    90deg,
    rgba(210, 196, 170, 0) 0%,
    rgb(255, 252, 244) 50.49%,
    rgba(226, 226, 226, 0) 100%
  );
}
.input {
  border: none;
  font-size: large;
}
.input:focus {
  outline: none;
}
.svg {
  font-size: 24px;
  color: gray;
}

.login-div {
  display: flex;
  gap: 10px;
}
.login-div button {
  padding: 10px;
}
.globe-div {
  border: 1px black solid;
  padding: 6px;
}

.svg-cart {
  font-size: 24px;
}
.svg-globe {
  font-size: 20px;
}
/* hero section */
.hero-heading {
  font-size: 36px;
  padding: 14px 0 0 10px;
}
.hero-desc {
  font-size: 20px;
  color: gray;
  padding-left: 10px;
}
/* middle carousel */

.middleCarousel-div {
  display: flex;
  gap: 20px;
  padding-left: 12px;
  padding-top: 28px;
  border-bottom: 1px gray solid;
}
.middleButton {
  font-size: 20px;
 
  color: gray;
  border: none;
  background-color: transparent;
}
.middleButton:hover {
  color: black;
  cursor: pointer;
}
